#developer
{
    outline: red;
}

#resultRow
{
    width: 100px;
    height: 100px;
}

#result2
{
    width: 100px;
    height: 100px;
}
#result3
{
    width: 100px;
    height: 100px;
}